* {
    padding: 0;
    margin: 0;
}




#container {
    width: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;

}

#header {
    margin: 20px;
    margin-bottom: 20px;
}




#btnContainer {
    display: flex;
    justify-content: center;
}

.btnClass {
    width: 100px;
    height: 80px;
    margin-left: 20px;
}